@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  @apply text-primary font-medium;
}

.hide-scroll::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.hide-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media (max-width: 740px) {
  .active p {
    @apply text-white bg-primary;
  }
}
